#hero-full-width {
  background: #F5F5F5;
}

.ad-item {
  &.even {
    background: #F5F5F5;

    .ad-side-image img {
      top: -33px;
    }
  }

  &.odd {
    .ad-side-image {
      float: right;
    }
  }

  .ad-side-image img {
    position: relative;
    margin-top: -19px;
  }

  .title {
    color: #0589C7;

    .sub-title {
      display: block;
      color: #333;
      font-size: 12px;
      line-height: 12px;
      margin-top: 10px;
    }
  }

  .buttons {
    list-style: none;
    margin: 10px 0 30px 75px;

    li {
      float: left;
      margin-right: 10px;
    }
  }
}

@media (min-width: 767px) {
  .ad-item {
    .title {
      margin-top: 130px;
      max-width: 370px;

      .logo {
        float: left;
        margin-right: 20px;
      }

      .sub-title {
        padding-left: 77px;
      }
    }
  }
}

@media (max-width: 767px) {
  .ad-item {
    .title {
      .logo {
        margin-top: -5px;
        width: 30px;
      }
    }

    .buttons {
      margin-left: 0;

      .learn-more {
        float: none;
        margin-top: 35px;
      }
    }

    .title,
    .buttons {
      padding: 0 14px;
    }

    .powered-by {
      position: relative;
      bottom: 65px;
      left: 200px;
    }

  }

  .text-center {
    text-align: center;
  }

  .hidden-phone {
    display: none;
  }
}

@media (max-width: 480px) {
  .ad-item {
    .powered-by {
      left: 134px;
    }
  }
}

